
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">

    <h2 class="text-center mb-4">Our Products</h2>

    <div class="text-center">

        <a asp-controller="Products" asp-action="Software" class="btn btn-primary m-2">
            Software Products
        </a>

        <a asp-controller="Products" asp-action="Tools" class="btn btn-success m-2">
            Tools Products
        </a>

    </div>

</div>