
@{
    ViewData["Title"] = "About";
}

<h1>About The Company</h1>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">History</h4>
    <p>Google was founded in 1998 by Larry Page and Sergey Brin while they were PhD students at Stanford University. The company started as a research project to organize information on the internet and created a powerful search engine using the PageRank algorithm. Over time, Google expanded its services into products like Android, Google Chrome, and YouTube, becoming one of the largest technology companies in the world.</p>
    <hr>
    <p class="mb-0">To be Continued.....</p>
</div>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        About Company Achievement
    </a>
    <a href="https://www.google.com/" class="list-group-item list-group-item-action">Google created the PageRank algorithm that changed how search engines rank websites.</a>
    <a href="https://www.android.com/" class="list-group-item list-group-item-action">Google developed Android, the world’s most widely used mobile operating system.</a>
    <a href="https://www.youtube.com/" class="list-group-item list-group-item-action">Google launched Google Chrome, one of the fastest and most popular web browsers.</a>
    <a href="https://www.youtube.com/" class="list-group-item list-group-item-action">Google acquired YouTube, which became the largest video platform globally.</a>
    <a href="https://gemini.google.com/" class="list-group-item list-group-item-action">Google created Google Assistant, enabling voice-based interaction with devices.</a>
</div>