@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Traning</h1>
    <p>In this you will learn about .NET Technology </p>
    <br />
</div>

<dev>
    <p>
        Welcome to our traning program in this traning we will teach you about .NET and we will create a whole project based on full stack with .NET. we will create front and backend with the use of .NET and then to deploy our project we will use the Azour
        In this traning you will learn how to work with C# and ASP.NET.
        You will also understand how databases work in .NET using SQL Server.
        At the end of this traning you will have a working full stack project as your final output.
    </p>
    <br />
</dev>

<dev>
    <h5>Important Information</h5>
    <p>
        1. Duration: 150 Days<br />
        2. Timing: 9:30 am - 4:25 pm<br />
        3. 100% Attendance is mandatory<br />
        4. Maintain the classs decoram <br />
        5. Additional information will br Provided in upcoming Dates
    </p>
    <br />
</dev>

<dev>
    <h5>Learning Outcomes</h5>
   <ul>
       <li>You will understand the C# Langugae and all about .NET</li>
       <li>In the end of the project you will have a Working Project</li>
       <li>You will be able to Gain experience working in full stack project development </li>
   </ul>
</dev>
